@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('//db.onlinewebfonts.com/c/73fedd912ba11f583a359ce4c2e742ed?family=Ninja+Naruto');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

#root {
    background-image: url('./images/100px-Simbolo_konoha.svg.png');
    background-color: rgb(36, 109, 36);

}


.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;

}